

<html>
<body>

<h2>Programmer</h2>
<br><img src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t1.0-9/13775634_1118248958242254_6689876213056701734_n.jpg?oh=8431dde9592ba3f98bf7bffcc16d20e7&oe=5A0D632C" alt="some_text" style="width:304px;height:228px;">
</br>
<li>Gabriel Ziegler Programador/Estudante</li>
<li>Cursando Engenharia de Software </li>
<li>Universidade de Brasilia - FGA</li>
</body>
</html><html>
<body>

<h2>Programmer</h2>
<br><img src="https://scontent.fbsb8-2.fna.fbcdn.net/v/t1.0-9/10734170_716961671723449_8198802727862755347_n.jpg?oh=226caf924594cedda2c1641428e0f230&oe=59DC4929" alt="some_text" style="width:304px;height:228px;">
</br>
<li>Joao Carlos Porto Programador/Estudante</li>
<li>Cursando Engenharia de Software </li>
<li>Universidade de Brasilia - FGA</li>
</body>
</html>
